@font-face {
    font-family: "greycliff";
    src: url("type/GreycliffCFMuse-Regular.eot");
    src: url("type/GreycliffCFMuse-Regular.eot?#iefix") format("embedded-opentype"), url("type/GreycliffCFMuse-Regular.woff2") format("woff2"), url("type/GreycliffCFMuse-Regular.woff") format("woff"), url("type/GreycliffCFMuse-Regular.ttf") format("truetype"), url("type/GreycliffCFMuse-Regular.svg#svgFontName") format("svg");
}

@font-face {
    font-family: "greycliff_med";
    src: url("type/GreycliffCFMuse-Medium.eot");
    src: url("type/GreycliffCFMuse-Medium.eot?#iefix") format("embedded-opentype"), url("type/GreycliffCFMuse-Medium.woff2") format("woff2"), url("type/GreycliffCFMuse-Medium.woff") format("woff"), url("type/GreycliffCFMuse-Medium.ttf") format("truetype"), url("type/GreycliffCFMuse-Medium.svg#svgFontName") format("svg");
}

@font-face {
    font-family: "greycliff_bold";
    src: url("type/GreycliffCFMuse-Bold.eot");
    src: url("type/GreycliffCFMuse-Bold.eot?#iefix") format("embedded-opentype"), url("type/GreycliffCFMuse-Bold.woff2") format("woff2"), url("type/GreycliffCFMuse-Bold.woff") format("woff"), url("type/GreycliffCFMuse-Bold.ttf") format("truetype"), url("type/GreycliffCFMuse-Bold.svg#svgFontName") format("svg");
}

html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "greycliff", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #f7f7f7;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*=== FADE IN  ===*/
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn,
.entered {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.h-100 {
    height: 100% !important;
}

.w-100 {
    width: 100% !important;
}

.ml-auto,
.mx-auto {
    margin-left: auto !important;
}

.mr-auto,
.mx-auto {
    margin-right: auto !important;
}

.cover-container,
.bio-container {
    display: block;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bio-container {
    z-index: 1;
    padding: 0 16px;
    background: white;
}

.cover-container {
    padding: 0px;
}

.inner-logo {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.inner-logo a {
    text-align: center;
}

.logo {
    width: 80%;
    max-width: 450px;
}

.jumbotron {
    display: flex;
    justify-content: center;
    margin: 0;
}

.jumbotron-cover,
.jumbotron-button {
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 25px 0;
}

.grid .jumbotron-button {
    padding: 50px 0 0 0;
}

.jumbotron-cover {
    position: relative;
    margin-right: 8px;
}

.cover-container .jumbotron-button {
    justify-content: center;
}

.blurred {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    background-color: hsla(0, 0%, 0%, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.jumbotron-cover img {
    width: 100%;
    max-width: 350px;
    box-shadow: 0px 5px 10px #000;
}

.jumbotron-cover-tracklist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50%;
    padding: 0px 0px 25px 0px;
    margin-left: 8px;
}

.jumbotron-cover-tracklist ol {
    list-style: decimal-leading-zero;
    color: #fff;
    font-weight: bold;
    font-family: 'greycliff_bold';
    text-align: left;
    text-transform: uppercase;
    line-height: 22px;
    letter-spacing: 0.01em;
    margin: 0;
    padding-inline-start: 32px;
}

.jumbotron-cover-tracklist ol li {
    text-transform: uppercase;
    padding: 0px 6px 0px 0px;
    text-align: left;
    font-size: 12px;
}

.jumbotron-cover-tracklist ul,
.grid ul {
    list-style: none;
    color: #fff;
    font-weight: bold;
    font-family: 'greycliff_bold';
    text-transform: uppercase;
    line-height: 22px;
    letter-spacing: 0.01em;
    margin: 0;
    padding-inline-start: 0;
}

.jumbotron-cover-tracklist ul li,
.grid ul li {
    text-transform: uppercase;
    padding: 0px 6px 0px 6px;
    text-align: center;
    font-size: 12px;
}

.grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0;
}

.grid>.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.box-divider {
    width: 16px;
    height: 100%;
    background: #f7f7f7;
}

.grid .box .blurred {
    display: none;
}

.box-cover {
    padding: 70px 0px 35px 0px;
}

.box-cover .card-image {
    margin: 0;
}

.box-tracks {
    padding: 20px 0px 70px 0px;
}

.btn-primary {
    color: #000;
    background: #fff;
    text-align: center;
    font-weight: bold;
    font-family: 'greycliff_bold';
    text-decoration: none;
    width: 100%;
    max-width: 200px;
    padding: 12px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.5em;
    -webkit-transition: background 150ms ease-out, color 150ms ease-out;
    -moz-transition: background 150ms ease-out, color 150ms ease-out;
    -o-transition: background 150ms ease-out, color 150ms ease-out;
}

.btn-primary:hover {
    color: #FFF;
    background: #000;
}

.jumbotron-bio {
    display: flex;
    width: 100%;
    margin: 200px 0px 100px 0px;
}

.bio-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    position: relative;
    border: 1px solid #000;
}

.bio-image {
    width: 80%;
    max-width: 350px;
    position: relative;
    margin-top: -115px;
}

.bio-image img {
    width: 100%;
    display: block;
    object-fit: cover;
    box-shadow: 0px 5px 10px #000;
}

.bio-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 16px;
    max-width: 500px
}

.bio-text h1 {
    text-align: center;
    color: #000;
    letter-spacing: 0.01em;
    font-size: 14px;
    margin: 0 60px;
}

.bio-text p {
    text-align: center;
    color: #000;
    font-size: 14px;
    line-height: 1.8em;
}

.wraper-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.wraper-header {
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}

.wraper-header h1 {
    font-size: 14px;
    line-height: 1em;
    color: #666;
    text-align: center;
    letter-spacing: 15px;
}

.wraper-main {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    width: 100%;
    max-width: 1440px;
}

.container {
    margin: 0 8px;
}

.row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.item {
    display: flex;
    flex-direction: column;
    width: calc(100% - 16px);
    min-height: 300px;
    background: #666;
    margin: 8px;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
}

.lazy,
.lazyy {
    opacity: 0;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.card-box {
    display: flex;
    flex-direction: column;
    width: calc(100% - 32px);
    height: 100%;
    margin: 50px 0;
}

.card-albumn {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: auto;
}

.card-albumn-listen {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 50px;
}

.card-subtitle {
    font-family: 'greycliff_bold';
    font-size: 12px;
    letter-spacing: 0.01em;
    margin: 0;
}

.card-title {
    font-family: 'greycliff_bold';
    margin: 0;
}

.card-image {
    width: 100%;
    max-width: 225px;
    box-shadow: 0px 5px 10px #000;
    margin: 25px 0px 25px 0px;
}

.video-responsive {
    height: 0;
    width: 100%;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
    margin: 25px 0px 35px 0px;
}

.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.subtitle {
    font-weight: normal;
    letter-spacing: 0.01em;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFF;
    margin: 0 0 15px 0;
}

.card-credits-subtitle {
    font-weight: normal;
    letter-spacing: 0.01em;
    font-size: 10px;
    text-transform: uppercase;
    margin: 0;
}

.card-credits-title {
    font-weight: normal;
    letter-spacing: 0.01em;
    margin: 0 0 20px 0;
    font-size: 16px;
}

.card-tracks {
    list-style-type: none;
    list-style-position: inside;
    font-weight: normal;
    letter-spacing: 0.01em;
    font-size: 14px;
    text-align: center;
    line-height: 22px;
    padding-inline-start: 0;
    margin: 0px;
}

.mt-10px {
    margin-top: 10px;
}

.card .card-credits-title:last-child {
    margin-bottom: 0;
}

footer {
    height: 100px;
    padding: 50px 16px;
    background-color: #FFF;
}

footer .footer-content {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    box-sizing: border-box;
}

footer ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

footer ul li {
    display: flex;
    align-items: center;
    margin: 0px 10px;
}

.social {
    width: 30px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    
    .logo {
        width: 450px;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 16px 1fr;
    }

    .grid>* {
        aspect-ratio: 1 / 1;
        padding: 0px;
    }

    .row {
        flex-direction: row;
    }

    .item {
        width: calc(50% - 16px);
    }

    .jumbotron-cover img {
        max-width: 400px;
    }

    .card-image {
        max-width: 250px;
        margin-bottom: 40px;
    }

    .jumbotron-cover-tracklist {
        padding: 25px 0px;
    }

    .jumbotron-cover-tracklist ol {
        padding-inline-start: 60px;
    }

    .cover-container .jumbotron-button {
        justify-content: center;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    
    .item {
        width: calc(33.333% - 16px);
    }

    .box-cover .card-image {
        max-width: 400px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
   
}